# File .gitignore digunakan untuk memberi tahu Git file atau folder 
# mana yang tidak perlu dimasukkan ke repository GitHub.

# Django
db.sqlite3
__pycache__/
*.pyc

# Environment Variables
.env

# Static & Media
/static/
/media/

# Virtual Environment
venv/
env/